table{
    border: 1px solid black;
    margin: 0 auto;
}
th{
    border: 1px solid black;
}
.table1{
    width: 100%;
    text-align: left;
}
.table1 > thead,
.table2 > thead{
    text-align: center;

}

.table2{
    margin: 20px auto;
    width: 600px;
    height: 220px;
    text-align: left;
}
.table3{
    width: 600px;
    height: 370px;
    border-collapse: collapse;
    text-align: left;
    border: 3px solid gray;
}